@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Yo, just to let you know, your data is stored on a private server that nobody but the developer has access to.</p>
